# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Capture the flag game_ST10026952.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
